<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="v-show">
      <div class="container">
        <ul>
          <li>
            <button>tab1</button>
          </li>
          <li>
            <button>tab2</button>
          </li>
          <li>
            <button>tab3</button>
          </li>
        </ul>
        <section v-show="currentTab === 1">
          <h2>Tab1</h2>
          <p>
            Lorem ipsum dolor sit amet.
          </p>
        </section>
        <section v-show="currentTab === 2">
          <h2>Tab2</h2>
          <p>
            At cum scripta admodum
          </p>
        </section>
        <section v-show="currentTab === 3">
          <h2>Tab3</h2>
          <p>
            Iuvaret efficiantur at est
          </p>
        </section>
      </div>
    </div>
  </body>
  <script src="https://unpkg.com/vue"></script>
  <script src="/v-show.js"></script>
</html>
