<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="other">
      <div id="container-fluid">
        <table class="table table-bordered">
          <colgroup>
            <col width="50%" />
            <col width="50%" />
          </colgroup>
          <thead>
            <tr>
              <th>Form</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <label>Date</label>
                <input type="date" v-model="date" class="form-control" />
              </td>
              <td>
                <pre class="mb-0">
                      {{ date }}
                  </pre
                >
              </td>
            </tr>
            <tr>
              <td>
                <label>Range</label>
                <input
                  type="range"
                  v-model="range"
                  class="form-control"
                  min="0"
                  max="10"
                />
              </td>
              <td>
                {{ "🍔".repeat(range) }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script src="https://unpkg.com/vue"></script>
  <script src="/form/othre.js"></script>
</html>
